@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 24px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(82, 82, 212);
  margin: 1%;
  padding: 2%;
}

main {
  background-image: url('./images/background-hd-7.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  margin: 0% 1%;
  padding: 10%;
  justify-content: center;
}

.display {
  display: flex;
  flex-direction: column;
  margin: 1% 5%;
  background-color: #fffb0080;
  border-radius: 2%;
  padding: 2%;
  width: 15rem;
}

.displayTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#table {
  border: 1px solid #2d2d2d;
  list-style: none;
  padding: 1%;
  overflow-y: auto;
  max-height: 120px;
}

#table :nth-child(even) {
  background-color: rgb(144, 24, 243);
}

#table :nth-child(odd) {
  background-color: rgb(255, 251, 4);
}

.add {
  margin: 1% 5%;
  background-color: #ff009580;
  border-radius: 2%;
  padding: 2%;
  width: 15rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  /* margin-bottom: 5%; */
  width: 8rem;
}

button {
  background-color: white;
  border: 1px solid #2d2d2d;
  box-shadow: 3px 5px;
  cursor: pointer;
}
